:root{
    --appWidth: 360px;
}

p {
    margin: 0;
}

#totalContainer{
    display: flex;
    flex-direction: column;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#itemAndDetails{
    display: inline;
}

#buttonContainer{
    display: flex;
    flex-direction: column;
}

* > #buttonContainer{
    width: var(--appWidth);
}

.itemBox{
    border: 1px solid black;
    width: var(--appWidth);
    display: flex;
    justify-content: space-between;
}

.detailBtn,
.deleteBtn{
    justify-content: flex-end;
}

#detailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#details{
    display: flex;
    flex-direction: column;
}